  body {
    background-image: url('../images/youtube_wall.png');
  }
  
  /* form {
    margin: auto;
    margin-top: 190px;
    border: black;
    border-style: solid;
    border-radius: 15px;
    border-width: medium;
    background-color: seashell;
  } */
  
  .company-title {
    font-size: 100px;
    -webkit-text-stroke: 2px black; 
  }
  
  h2 {
    font-size: 23px; 
  }
  
  header {
    margin-top: 50px;
    margin-bottom: 120px;
    color: white; 
  }
  
  .btn {
    margin-top: 25px;
  }
  
  .password {
    margin-top: 25px;
  }
  
  /* button.btn {
    margin-top: 15px;
  }
  
  .link {
    text-align: center;
    margin-top: 20px;
  } */
  
  .line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
  }
  
  li {
    margin-bottom: 20px;
    color: white;
  }
  
  #headlines-linkers {
    color: whitesmoke;
  }
  
  #header {
    margin-top: 18px;
    margin-right: 25px;
    color: white; 
  }
  
  .rows {
    margin-top: 30px;
    margin-bottom: 65px;
  
  }

  .trending-videos {
    margin-top: 60px; 
    margin-bottom: 15px;
    color: white; 
    display: flex; 
    justify-content: center;
  }

  .trending-news {
    margin-top: 10px; 
    margin-bottom: 15px;
    color: white; 
    display: flex; 
    justify-content: center;
  }

  .trending-clips-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .trendings {
    display: inline;
    margin-left: 15px; 
    margin-right: 15px; 
  }

  .category {
    text-align: center;
    
  }
  
  .card {
    width: 18rem;
  }
  
  .arrow {
    margin-top: 500px;
    color: black;
  }
  
  .left-arrow {
    margin-left: 100px;
  }
  
  .right-arrow {
    margin-right: 100px;
  }
  
  .articles {
    width: 788px; 
    height: 400px; 
  }
  
  .article-button {
    display: flex; 
    justify-content: space-evenly; 
  }
  
  
  .images {
    width: 780px; 
    height: 445px; 
  }
  
  .flexer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .nav-link {
    margin-left: 10px; 
    margin-right: 10px;
  }
  
  .navbar-nav {
    height: 40px;
  }
  
  .headlines-container {
    margin-top: 18px;
    margin-left: 35px;
    width: 400px; 
  }
  
  .stock {
    display: inline;
    font-size: 20px;
  }
  
  .stock-bar {
    margin-top: 65px; 
    height: 35px;
  }
  
  .stock-list {
    display: flex;
    justify-content: space-around;
  }
  
  .headlines-bar {
    border-top: black;
    border-top-style: solid;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 16px;
  }
  
  .main-videos {
    display: flex;
    flex-direction: column;
    margin-top: 10px
  }
  
  .card-image {
    width: 286px; 
    height: 184px; 
  }
  
  .top-video {
    margin-bottom: 30px;
    border: black;
    border-style: solid;
  }
  
  .article-title {
    width: 245px; 
    height: 120px;
  }
  
  .clips {
    border: white;
    border-style: solid;
  }
  

  .bottom-video {
    border: white;
    border-style: solid;
  }
  
  #brand {
    color: white;
    font-size: 21px;
    margin-right: 35px;
    margin-left: 20px;
  }
  
  #text-links {
    display: flex; 
    justify-content: center; 
    background-color: cornsilk;
    
  }
  
  #linkers {
    color: black;
    padding: 5px 5px 5px 5px; 
  }
  
  #second-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 0;
    color: white;
  }
  
  #news-slide {
    width: 700px;
    margin-top: 10px;
    height: 470px; 
    background-color: black;
    border: black;
    border-width: 6px;
    border-style: solid;
  }

  .top-titles {
    display: flex; 
    justify-content: space-around;
    color: white;
    margin-top: 80px; 
  }
  
  #video-title {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: black;
  }
  
  #video-title {
    color: white;
  }
  
  #vids {
    margin-bottom: 30px;
  }
  
  h1.header {
    font-size: 50px;
  }
  
  footer {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 700;
  }

  .toppers {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
  }
  
  /* Animation */
  .anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter {
  from{width: 0;}
  to{width: 24em;}
  }

  @keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
  }

