
  li {
    margin-bottom: 20px;
    color: white;
  }
  
  .nav-link {
    margin-left: 10px; 
    margin-right: 10px;
  }
  
  .navbar-nav {
    height: 40px;
  }
  
  #brand {
    color: white;
    font-size: 21px;
    margin-right: 35px;
    margin-left: 20px;
  }
